body {
  margin: 0;
  animation-name: colour;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

header {
  background-color: tomato;
  padding: 6px 20px 12px 20px;
  font-family: sans-serif;
  color: blue;
}

h1 {
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  color: yellow;
}


header .header-title h1 {
  color: black;
}

.header-title {
  transition: transform 10s ease-in-out;
}

.header-title.animate {
  transform: scale(2);
  transform-origin: center;
}

.boris-head-wrapper {
  width: 740px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.boris-head-wrapper h1 {
  font-size: 28vw;
  margin-top: 20vw;
  position: absolute;
  width: 100%;
  z-index: -10;
  letter-spacing: 12px;
  text-transform: uppercase;
  font-family: sans-serif;
  color: tomato;
  text-align: center;
}

.boris-head-wrapper img {
  width: 100%;
}

@keyframes colour {
  0% {
    background-color: tomato;
  }
  50% {
    background-color: purple;
  }
  100% {
    background-color: tomato;
  }
}
